@model List<ShopManagement.Application.Contract.Order.OrderViewModel>
@{
    ViewData["Title"] = "لیست تمامی فاکتور ها";
}
@using _0_Framework.Utilities


@section header{
<!-- Datatable -->
<link href="/MainTheme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrator">پنل مدیریت </a></li>
            <li class="breadcrumb-item active"><a href=""> مدیریت تمامی سفارشات </a></li>
        </ol>
    </div>
</div>




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">سفارشات پنل فروشندگی شما</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example4" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th> #</th>
                                <th>خریدار</th>
                                <th>مبلغ پرداختی </th>
                                <th> نحوه پرداخت </th>
                                <th> نحوه ارسال </th>
                                <th>شماره پیگیری </th>
                                <th>شناسه پرداخت</th>
                                <th>تاریخ خرید</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>#@item.Id</td>
                                        <td>@item.RecieverFullName</td>
                                        <td>@item.TotalAmount</td>
                                        <td>
                                            @if (item.PaymentMethod == OrderPaymentMethod.OnlineGateWay)
                                            {
                                                <p class="text-info">درگاه آنلاین</p>
                                            }
                                            @if (item.PaymentMethod == OrderPaymentMethod.PersonalWallet)
                                            {
                                                <p class="text-info"> کیف پول شخصی</p>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsTransitionPartByPart)
                                            {
                                                <p class="text-info">ارسال ریز فاکتور به صورت تکی باید توسط فروشنده ها انجام شوند</p>
                                            }
                                            else
                                            {
                                                <p class="text-info">ارسال ریز فاکتور باید به صورت تجمعی با هماهنگی مدیر انجام میشود.</p>
                                            }
                                        </td>
                                        <td>@item.IssueTrackingNo</td>
                                        <td>@item.RefId</td>
                                        <td>@item.PaymentDate</td>
                                        <td>
                                            @if (!item.IsPaid && !item.IsDelivered && !item.IsCanceled && !item.IsRevievedByUser)
                                            {
                                                <span class="badge light badge-warning"> سفارش باز مشتری هنوز پرداخت نشده</span>
                                            }
                                            @if (item.IsPaid && !item.IsDelivered && !item.IsCanceled && !item.IsRevievedByUser)
                                            {
                                                <span class="badge light badge-info"> پرداخت شده و باید ارسال شود</span>
                                                <p class="text-success">(تاریخ پرداخت : @item.PaymentDate)</p>

                                            }
                                            @if (item.IsPaid && item.IsDelivered && !item.IsCanceled && !item.IsRevievedByUser)
                                            {
                                                <span class="badge light badge-info"> تمامی آیتم ها ارسال شده اند </span>
                                                <p class="text-info">(تاریخ آخرین ارسال : @item.DeliveryDate)</p>
                                            }
                                            @if (item.IsPaid && item.IsDelivered && !item.IsCanceled && item.IsRevievedByUser)
                                            {
                                                <span class="badge light badge-success"> دریافت شده توسط مشتری </span>
                                                <p class="text-success">(تاریخ دریافت : @item.DeliveryDate)</p>

                                            }
                                            @if (item.IsCanceled)
                                            {
                                                <span class="badge light badge-danger">سفارش کنسل شده</span>
                                                <p class="text-danger">(تاریخ کنسلی : @item.DeliveryDate)</p>
                                            }
                                           
                                        </td>
                                        <td>
                                            <a href="#showModal=/Administrator/UserOrder/ShowOrderItems/@item.Id" class="btn btn-primary">مشاهده جزئیات</a>
                                            <a href="#showModal=/Administrator/UserOrder/DisplayUserAddressToSendProduct/@item.Id" class="btn btn-info"> آدرس</a>
                                            <a href="/SellerPanel/CancelOrder" class="btn btn-danger"> کنسل کردن</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<!-- Datatable -->
<script src="/MainTheme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/MainTheme/js/plugins-init/datatables.init.js"></script>
}