@model _0_MyNiaSmartQuery.Contract.User.UserInfoQueryModel
@using AccountManagement.Application.Contract.UpAccountRequest
@using AccountManagement.Application.Contract.UserCooperationRequest
@using AccountManagement.Application.Contract.UserPersonality
@using ShopManagement.Application.Contract.SellerPanel
@using _0_Framework.Utilities;
@inject IUPAccountRequestApplication _uPAccountRequestApplication
@inject IUserCooperationRequestApplication _userCooperaitonRequestApplication
@inject IUserPersonalityApplication _userPersonalityApplication
@inject ISellerPanelApplication _sellerPanelApplication
@{
    var acceptedPersonalityIds = _userPersonalityApplication.GetAllPersonalityIdsOfOneUserByUserId(Model.Id);
    var requestedPersonalities = _userCooperaitonRequestApplication.GetRequestedPersonalitiesByUserId(Model.Id);
    var HasUserRequestedForSellerPanel = _sellerPanelApplication.HasUserRequestedForSellerPanel(Model.Id);
}



<div id="about-me" class="tab-pane fade active show">
    <div class="profile-personal-info" style="padding:20px">
        <h4 class="text-primary mb-4">اطلاعات شخصی</h4>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    نام و نام خانوادگی :  <span>@Model.FullName</span>
                </h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    کد ملی :      <span>@Model.NationalCode</span>
                </h5>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    تاریخ تولد :         <span>@Model.Birthday</span>
                </h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    شهر :              <span>@Model.City</span>
                </h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    استان  :  <span>@Model.Capital </span>

                </h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">آدرس :  <span>@Model.Address </span> </h5>

            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    نام و نام خانوادگی معرف  : <span>@Model.IntroductorFullname </span>
                </h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <h5 class="f-w-500">
                    شماره همراه معرف  :  <span> @Model.IntroductorMobileNumber</span>
                </h5>
            </div>
        </div>
        @if (ViewData["message"] != null)
        {
            <div class="row mb-2">
                <div class="alert alert-info">
                    <p>@ViewData["message"]</p>
                </div>
            </div>
        }

        @if (_uPAccountRequestApplication.GetByUserId(Model.Id) != null)
        {
            <hr />
            <br />
            <div class="row mb-2">
                <div class="col-3">
                    <h5 class="f-w-500">وضعیت درخواست ارتقا حساب کاربری <span class="pull-right">:</span></h5>
                </div>
                <div class="col-9">
                    @if (!_uPAccountRequestApplication.IsUpAccountRequestConfirmedWithAdminByUserId(Model.Id))
                    {
                        <span class="alert alert-warning" style="padding:20px;margin-left:10px">
                            درخواست شما در حال بررسی میباشد
                        </span>
                        <a href="/user/EditUpgradeAccount/@Model.UserUpAccountRequestId" class="btn btn-info">ویرایش درخواست</a>
                    }
                    else
                    {
                        <span class="alert alert-success">
                            درخواست شما با موفقیت تایید شد
                        </span>
                    }
                </div>

            </div>
        }

        @if (_userCooperaitonRequestApplication.IsUserRequestedForCooperation(Model.Id))
        {
            <br />
            <hr />
            <br />
            <div class="row mb-2">

                @if (!_userCooperaitonRequestApplication.IsUserRequestForCooperationRecognizedByAdmin(Model.Id))
                {
                    <div class="col-3">
                        <h5 class="f-w-500">وضعیت درخواست همکاری <span class="pull-right">:</span></h5>
                    </div>
                    <div class="col-9">
                        <span class="alert alert-warning" style="padding:20px;">
                            درخواست شما در حال بررسی میباشد
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        <h5 class="f-w-500">وضعیت درخواست همکاری <span class="pull-right">:</span></h5>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                        <div class="default-tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.Seller))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#seller"> لیست واحد هایی که شما جهت همکاری در زمینه فروش درخواست کرده اید</a>
                                            </li>
                                        }
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.Marketer))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link " data-toggle="tab" href="#marketer"> لیست واحد هایی که شما جهت همکاری در زمینه بازاریابی درخواست کرده اید</a>
                                            </li>
                                        }
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.ServiceMan))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link " data-toggle="tab" href="#serviceman"> لیست واحد هایی که شما جهت همکاری در زمینه خدمات فنی و تعمیرات درخواست کرده اید</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.Seller))
                                        {
                                            <div class="tab-pane fade active show" id="seller" role="tabpanel">
                                                <div class="pt-4">
                                                    <div class="col-xl-12 col-lg-12 col-sm-12">
                                                        <div class="card">

                                                            <div class="card-body pb-0">

                                                                @foreach (var item in requestedPersonalities.Where(x => x.PersonalityTypeId == PersonalityTypeId.Seller))
                                                                {
                                                                    <div class="alert alert-outline@((acceptedPersonalityIds.Any(x=>x==item.Id))?"-success":"-danger") alert-dismissible fade show">
                                                                        <p>@item.Title</p>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                            <a href="#ShowModal=/user/CreateSellerPanel" class="btn btn-square btn-outline-secondary @((HasUserRequestedForSellerPanel)?"disabledd":"")" >ساخت پنل بازاریابی</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.Marketer))
                                        {
                                            <div class="tab-pane fade" id="marketer" role="tabpanel">
                                                <div class="pt-4">
                                                    <div class="col-xl-12 col-lg-12 col-sm-12">
                                                        <div class="card">

                                                            <div class="card-body pb-0">

                                                                @foreach (var item in requestedPersonalities.Where(x => x.PersonalityTypeId == PersonalityTypeId.Marketer))
                                                                {
                                                                    <div class="alert alert-outline@((acceptedPersonalityIds.Any(x=>x==item.Id))?"-success":"-danger") alert-dismissible fade show">
                                                                        <p>@item.Title</p>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (requestedPersonalities.Any(x => x.PersonalityTypeId == PersonalityTypeId.ServiceMan))
                                        {
                                            <div class="tab-pane fade" id="serviceman" role="tabpanel">
                                                <div class="pt-4">
                                                    <div class="col-xl-12 col-lg-12 col-sm-12">
                                                        <div class="card">

                                                            <div class="card-body pb-0">

                                                                @foreach (var item in requestedPersonalities.Where(x => x.PersonalityTypeId == PersonalityTypeId.ServiceMan))
                                                                {
                                                                    <div class="alert alert-outline@((acceptedPersonalityIds.Any(x=>x==item.Id))?"-success":"-danger") alert-dismissible fade show">
                                                                        <p>@item.Title</p>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>

</div>

