@using ShopManagement.Application.Contract.Order
@model Tuple<List<OrderViewModel>, List<OrderViewModel>, List<OrderViewModel>>

@{
    ViewData["Title"] = "سفارش ها";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">سفارش ها</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">پروفایل </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">سفارش ها</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">زبانه پیشفرض</h4>
            </div>
            <div class="card-body">
                <!-- Nav tabs -->
                <div class="default-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#currentOrders">
                                <i class="la la-home mr-2"></i>جاری
                                @if (Model.Item1.Count > 0)
                                {
                                    <span class="badge badge-info badge-pill">@Model.Item1.Count</span>
                                }
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#RecievedOrders">
                                <i class="la la-user mr-2"></i>تحویل داده شده
                                @if (Model.Item2.Count > 0)
                                {
                                    <span class="badge badge-info badge-pill">@Model.Item2.Count</span>
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#canceledOrders">
                                <i class="la la-phone mr-2"></i> کنسل شده
                                @if (Model.Item3.Count > 0)
                                {
                                    <span class="badge badge-info badge-pill">@Model.Item3.Count</span>
                                }
                            </a>
                        </li>
                        @*    <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#message"><i class="la la-envelope mr-2"></i> مرجوع شده</a>
                            </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="currentOrders" role="tabpanel">
                            <partial name="_CurrentOrders" model="@Model.Item1"/>
                        </div>
                        <div class="tab-pane fade" id="RecievedOrders">
                            <partial name="_RecievedOrders" model="@Model.Item2"/>
                        </div>
                        <div class="tab-pane fade" id="canceledOrders">
                            <partial name="_CanceledOrders" model="@Model.Item3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

