@model List<RepairWorkShopManagement.Application.Contracts.SystemService.SystemServiceViewModel>
@using _0_Framework.Utilities
@{
    ViewData["Title"] = "مدیریت سرویس های سامانه";
}

<!-- Custom Stylesheet -->
<link href="/AdminTheme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/AdminTheme/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrator">پنل مدیریت </a></li>
            <li class="breadcrumb-item active"><a href=""> مدیریت سرویس های سامانه </a></li>
        </ol>
    </div>
</div>
@if (ViewData["message"] != null)
{
    <div class="col-xl-12 col-xxl-12">
        <div class="card-body">
            <div class="alert alert-info solid alert-dismissible fade show">
                <strong></strong> @ViewData["message"]
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">

        <div class="card">

            <div class="card-header">
                <h4 class="card-title">لیست سرویس های سامانه </h4>
            </div>

            <div class="card-body">
                <button type="button" class="btn btn-rounded btn-info" onclick="window.location.href ='/administrator/SystemService/Create'">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>افزودن
                </button>
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>عنوان سرویس</th>
                                <th> عنوان برند</th>
                                <th> عنوان مدل</th>
                                <th> عنوان نوع</th>
                                <th> عنوان نحوه استفاده</th>
                                <th>  مفدار گارانتی</th>
                                <th>مدت زمان انجام</th>
                                <th> قیمت پایه</th>
                                <th>سهم سامانه(درصد)</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var service in Model)
                            {
                                <tr>
                                    <td>@service.ServiceTitleEngTitle</td>
                                    <td>@service.BrandEngTitle</td>
                                    <td>@service.ModelEngTitle</td>
                                    <td>@service.TypeEngTitle</td>
                                    <td>@service.UsageTypeEngTitle</td>
                                    <td>
                                        <p>
                                            ضمانت :
                                            @if (service.WarrantyTypeId == WarrantyTypeId.Hour)
                                            {
                                                <span class="item"> تا @service.WarrantyAmount ساعت</span>
                                            }
                                            @if (service.WarrantyTypeId == WarrantyTypeId.Day)
                                            {
                                                <span class="item"> تا @service.WarrantyAmount روز</span>
                                            }
                                            @if (service.WarrantyTypeId == WarrantyTypeId.Mounth)
                                            {
                                                <span class="item"> تا @service.WarrantyAmount ماه</span>
                                            }
                                            @if (service.WarrantyTypeId == WarrantyTypeId.Year)
                                            {
                                                <span class="item"> تا @service.WarrantyAmount سال</span>
                                            }

                                        </p>
                                    </td>
                                    <td>@service.Duration</td>
                                    <td>@service.BaseFeePrice.ToMoney() تومان</td>
                                    <td>@service.SystemSharePercent %</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="/administrator/SystemService/Edit/@service.Id" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Scripts-->
<script src="~/AdminTheme/vendor/global/global.min.js"></script>
<script src="~/AdminTheme/vendor/global/global.min.js"></script>

<!--Datatable JavaScript-->
<script src="/AdminTheme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/AdminTheme/js/plugins-init/datatables.init.js"></script>



