@using ShopManagement.Application.Contract.SellerProduct
@inject ISellerProductApplication _sellerProductApplication
@model ShopManagement.Application.Contract.Order.OrderViewModel

@{
    ViewData["Title"] = "سبد خرید";
}
<style>
    html.busy {
        cursor: wait !important;
    }
</style>
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">سبد خرید</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">سبد خرید </a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">سبد خرید شما</span>
                            <span class="badge badge-primary badge-pill">@Model.orderItems.Count</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var item in Model.orderItems)
                            {
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">نام محصول</h6>
                                        <small class="text-muted">@item.SellerProductTitle</small>
                                    </div>
                                    <div>
                                        <h6 class="my-0">تعداد</h6>
                                        <input type="number" style="width:80px" onchange="CalculateTotal(@item.Id)" class="@item.Id" value="@item.Count">
                                        <input type="hidden" value="@_sellerProductApplication.GetPriceById(item.SellerProductId)" id="@item.Id">
                                    </div>
                                    <span id="@item.Id" class="text-muted"><partial id="unitPrice" class="@item.Id">@item.UnitPrice</partial> تومان</span>
                                </li>
                            }



                            <li class="list-group-item d-flex justify-content-between">
                                <span>مجموع(تومان)</span>
                                <strong> <partial id="total">@Model.TotalAmount</partial> تومان</strong>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6 order-md-1">
                        <h4 class="mb-3">آدرس قبض</h4>
                        <form method="post" action="/Order/PayOrder">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="firstName">نام و نام خانوادگی</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        نام معتبر لازم است
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-9 pt-3 pb-3 border-right">
                                    <label for="address">آدرس</label>
                                    <input type="text" class="form-control" id="UserAddressText" placeholder=" لطفا با دکمه رو به رو ادرس مورد نظر خود را انتخاب کنید" readonly>
                                    <div class="invalid-feedback">
                                        لطفا آدرس حمل و نقل خود را وارد کنید
                                    </div>
                                </div>
                                <div class="col-3 pt-3 pb-3">
                                    <label></label>
                                    <a class="btn btn-outline-success mt-3 px-5" href="#showModal=/Order/SearchUserAddress" >انتخاب آدرس </a>
                                </div>
                                <input type="hidden" id="UserAddressId" />

                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">پرداخت از طریق درگاه انلاین</button>
                            <a href="#showModal=/Order/PayOrderByPersonalWallet/@Model.Id" class="btn btn-primary btn-lg btn-block">خرید از طریق کیف پول</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    function CalculateTotal(id){
        $.ajax({
            url:"/Order/UpdateOrder",
            type:'json',
            data:{count:$("input."+id).val(),orderItemId:id},
            beforeSend:function(){
                $("html").addClass("busy");
            },
            success:function(result){
                   debugger
                $("html").removeClass("busy");
                   $("#total").text(result);
                  let oldPrice= $("input#"+id).val();
                  $("partial."+id).text(oldPrice*$("input."+id).val());
                  $("div.LeftBarOrderInfo partial."+id).text($("input."+id).val());
                  $("div.LeftBarOrderInfo p strong."+id).text(oldPrice*$("input."+id).val());
            }
        })
    }
</script>
<script src="~/MainTheme/vendor/highlightjs/highlight.pack.min.js"></script>


}