@using ShopManagement.Application.Contract.Product
@using ShopManagement.Application.Contract.SellerPanel
@using _0_Framework.Utilities
@model Tuple<EditProduct, List<SellerPanelForMainShopViewModel>, List<SellerPanelForMainShopViewModel>>
@{
    ViewData["Title"] = "جرئیات محصول";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">نمایش محصولات</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"> فروشگاه </a></li>
            <li class="breadcrumb-item"><a href="/MainShop/index">فروشگاه اصلی </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">جرئیات محصول</a></li>
        </ol>
    </div>
</div>
<input type="hidden" value="@Model.Item1.Slug" id="FilterSlug" />

<div class="row">


    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 ">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id='number:22'>
                                <img class="img-fluid" src="/UploadedFiles/@Model.Item1.PictureUrl" alt="">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="second">
                                <img class="img-fluid" src="/MainTheme/images/product/2.jpg" alt="">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="third">
                                <img class="img-fluid" src="/MainTheme/images/product/3.jpg" alt="">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="for">
                                <img class="img-fluid" src="/MainTheme/images/product/4.jpg" alt="">
                            </div>
                        </div>
                        <div class="tab-slide-content new-arrival-product mb-4 mb-xl-0">
                            <!-- Nav tabs -->
                            <ul class="nav slide-item-list mt-3" role="tablist">
                                <li role="presentation" class="show">
                                    <a href='number:22' role="tab" data-toggle="tab">
                                        <img class="img-fluid" src="/UploadedFiles/@Model.Item1.PictureUrl" alt="" width="50">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#second" role="tab" data-toggle="tab"><img class="img-fluid" src="/MainTheme/images/tab/2.jpg" alt="" width="50"></a>
                                </li>
                                <li role="presentation">
                                    <a href="#third" role="tab" data-toggle="tab"><img class="img-fluid" src="/MainTheme/images/tab/3.jpg" alt="" width="50"></a>
                                </li>
                                <li role="presentation">
                                    <a href="#for" role="tab" data-toggle="tab"><img class="img-fluid" src="/MainTheme/images/tab/4.jpg" alt="" width="50"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Tab slider End-->
                    <div class="col-xl-9 col-sm-12">
                        <div class="product-detail-content">
                            <!--Product details-->
                            <div class="new-arrival-content pr">
                                <h4>@Model.Item1.FarsiTitle</h4>
                                <h5>@Model.Item1.EngTitle</h5>
                                <div class="star-rating mb-2">
                                    <ul class="produtct-detail-tag">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span class="review-text">(34 نظر ) / </span><a class="product-review" href="#">نظری دارید؟</a>
                                </div>
                                @*<p class="price">39000 تومان</p>*@
                                <p>
                                    دسترسی: <span class="item">
                                        در انبار <i class="fa fa-shopping-basket"></i>
                                    </span>
                                </p>
                                <p>پارت نامبر:<span class="item">@Model.Item1.PartNumber</span> </p>
                                <p>برند: <span class="item">@Model.Item1.ProductBrandTitle</span></p>
                                <p>مدل: <span class="item">@Model.Item1.ProductModelTitle</span></p>
                                <p>نوع: <span class="item">@Model.Item1.ProductTypeTitle</span></p>
                                <p>وضعیت: <span class="item">@Model.Item1.ProductStatusTitle</span></p>
                                <p>نحوه استفاده: <span class="item">@Model.Item1.ProductUsageTypeTitle</span></p>
                                <p>کشور تولید کننده: <span class="item">@Model.Item1.CountryMadeIn</span></p>
                                <p> ابعاد: <span class="item">@Model.Item1.Dimensions</span></p>
                                <p> وزن(کیلوگرم): <span class="item">@Model.Item1.ProductWeight</span></p>
                                <p>
                                    برچسب های محصول:
                                    <span class="badge badge-success light">کیف</span>
                                    <span class="badge badge-success light">کت</span>
                                    <span class="badge badge-success light">کفش</span>
                                    <span class="badge badge-success light">پیراهن</span>
                                </p>
                                <p class="text-content">
                                    @Html.Raw(Model.Item1.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Item2.Count > 0)
    {
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">فروشندگان خاص</h4>
                    <div class="form-group col-md-6">
                        <label>مرتب سازی بر اساس</label>
                        <select class="form-control" id="SpecialSeller" onchange="FilterSpecialSellers()">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">قیمت</option>
                            <option value="2"> میزان گارانتی</option>
                        </select>
                    </div>
                </div>
                <div class="card-body" id="SpecSeller">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>نام فروشگاه</th>
                                    <th>میزان رضایت</th>
                                    <th>قیمت فروشنده</th>
                                    <th>میزان گارانتی </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item2)
                                {
                                    <tr>

                                        <td>
                                            @if (!item.IsUserLegal)
                                            {
                                                <a href="/sellerProduct/@item.StoreName/@Model.Item1.Slug">@item.StoreName</a>
                                            }
                                            else
                                            {
                                                <a href="/sellerProduct/@item.CompanyName/@Model.Item1.Slug">@item.CompanyName</a>
                                            }
                                        </td>

                                        <td>***</td>

                                        <td class="color-primary">@item.SpecificProductPrice تومان</td>
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Hour)
                                        {
                                            <td>@item.WarrantyAmount ساعت</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Day)
                                        {
                                            <td>@item.WarrantyAmount روز</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Mounth)
                                        {
                                            <td>@item.WarrantyAmount ماه</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Year)
                                        {
                                            <td>@item.WarrantyAmount سال</td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Item3.Count > 0)
    {
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">فروشنگان عادی</h4>
                    <div class="form-group col-md-6">
                        <label>مرتب سازی بر اساس</label>
                        <select class="form-control" id="NormalSeller" onchange="FilterNormalSellers()">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">قیمت</option>
                            <option value="2"> میزان گارانتی</option>
                        </select>
                    </div>
                </div>
                <div class="card-body" id="NormSeller">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>نام فروشگاه</th>
                                    <th>میزان رضایت</th>
                                    <th>قیمت فروشنده</th>
                                    <th>میزان گارانتی </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in Model.Item3)
                                    {
                                        <td>
                                            @if (!item.IsUserLegal)
                                            {
                                                <a href="/sellerProduct/@item.StoreName/@Model.Item1.Slug">@item.StoreName</a>
                                            }
                                            else
                                            {
                                                <a href="/sellerProduct/@item.CompanyName/@Model.Item1.Slug">@item.CompanyName</a>
                                            }
                                        </td>

                                        <td>***</td>

                                        <td class="color-primary">@item.SpecificProductPrice تومان</td>
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Hour)
                                        {
                                            <td>@item.WarrantyAmount ساعت</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Day)
                                        {
                                            <td>@item.WarrantyAmount روز</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Mounth)
                                        {
                                            <td>@item.WarrantyAmount ماه</td>
                                        }
                                        @if (item.WarrantyTypeId == WarrantyTypeId.Year)
                                        {
                                            <td>@item.WarrantyAmount سال</td>
                                        }
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


<script>
    function FilterSpecialSellers(){
        $.ajax({
            url:"/MainShop/_SpecialSellers",
            data:{slug:$("#FilterSlug").val(),filterType:$("#SpecialSeller").val()},
            success:function(result){
                   $("#SpecSeller").fadeOut(250,function(){
                    $(this).html(result)
                });
                $("#SpecSeller").fadeIn(500);
            }
        })
    }

     function FilterNormalSellers(){
        $.ajax({
            url:"/MainShop/_NormalSellers",
            data:{slug:$("#FilterSlug").val(),filterType:$("#NormalSeller").val()},
            success:function(result){
                $("#NormSeller").fadeOut(250,function(){
                    $(this).html(result)
                });
                $("#NormSeller").fadeIn(500);
            }
        })
    }

</script>
