@model List<ShopManagement.Application.Contract.OrderItem.OrderItemViewModel>
@using _0_Framework.Utilities;



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">جرِئیات سفارش</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>تصویر محصول</strong></th>
                                <th><strong> نام محصول</strong></th>
                                <th><strong> نام فروشگاه</strong></th>
                                <th><strong>تعداد </strong></th>
                                <th><strong>قیمت فروشنده </strong></th>
                                <th><strong>قیمت کل </strong></th>
                                <th><strong> مدت زمان ارسال پس از تاریخ خرید </strong></th>
                                <th><strong> وضعیت </strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="sorting_1">
                                        <img class="rounded-circle" width="35" src="/UploadedFiles/@item.PictureURL" alt="">
                                    </td>
                                    <td>@item.SellerProductTitle</td>
                                    <td>@item.SellerShopName</td>
                                    <td>@item.Count</td>
                                    <td>@item.SellerProductPrice.ToMoney()</td>
                                    <td>@item.UnitPrice.ToMoney() تومان</td>
                                    <td>@if(item.CalculatedDeliveryduration!=0)
                                        {
                                            <p>@item.CalculatedDeliveryduration ساعت</p>
                                        }
                                        else
                                        {
                                            <p>نا مشخص</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.TransitionTrackingNumber != null)
                                        {
                                            <p class="text-success"> ارسال شده( کد رهگیری ارسال @item.TransitionTrackingNumber)</p>
                                        }
                                        else
                                        {
                                            <p class="text-warning"> هنوز ارسال نشده</p>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form method="post" action="/SellerPanel/SendItemsBySeller">
                        @foreach (var item in Model)
                        {
                            <input type="hidden" value="@item.Id" name="OrderItemIdsOwnedBySeller">
                        }
                        <button type="submit" class="btn btn-info">تایید ارسال</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>