@model List<ShopManagement.Application.Contract.Order.OrderViewModel>
@{
    ViewData["Title"] = "مدیریت سفارشات مشتری ها";
}
@using _0_Framework.Utilities

@section header{
<!-- Datatable -->
<link href="/MainTheme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>
                سلام، خوش آمدید
            </h4>
            <p class="mb-0">پنل فروشندگی</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">پنل ها </a></li>
            <li class="breadcrumb-item "><a href="javascript:void(0)">پنل فروشندگی </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">مدیریت سفارشات</a></li>
        </ol>
    </div>
</div>
@if (ViewData["message"] != null)
{
    <div class="col-xl-12 col-xxl-12">
        <div class="card-body">
            <div class="alert alert-success solid alert-dismissible fade show">
                <strong>موفق بود!</strong> @ViewData["message"]
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">سفارشات پنل فروشندگی شما</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example4" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th> #</th>
                                <th>خریدار</th>
                                @*<th>مبلغ پرداختی </th>*@
                                <th> نحوه پرداخت </th>
                                <th> نحوه ارسال </th>
                                <th>شماره پیگیری </th>
                                <th>شناسه خرید</th>
                                <th>تاریخ خرید</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>#@item.Id</td>
                                        <td>@item.RecieverFullName</td>
                                        @*<td>@item.payAmount</td>*@
                                        <td>
                                            @if (item.PaymentMethod == OrderPaymentMethod.OnlineGateWay)
                                            {
                                                <p class="text-info">درگاه آنلاین</p>
                                            }
                                            @if (item.PaymentMethod == OrderPaymentMethod.PersonalWallet)
                                            {
                                                <p class="text-info"> کیف پول شخصی</p>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsTransitionPartByPart)
                                            {
                                                <p class="text-info">ارسال ریز فاکتور به صورت تکی باید توسط شما انجام شود</p>
                                            }
                                            else
                                            {
                                                <p class="text-info">ارسال ریز فاکتور به صورت تجمعی با هماهنگی مدیر انجام میشود.</p>
                                                <b class="text-info"> منتظر تماس مدیریت باشید</b>
                                            }
                                        </td>
                                        <td>@item.IssueTrackingNo</td>
                                        <td>@item.RefId</td>
                                        <td>@item.PaymentDate</td>
                                        <td>
                                            @if (!item.IsPaid && !item.IsCanceled && !item.IsRevievedByUser && !item.IsDelivered)
                                            {
                                                <span class="badge light badge-warning"> سفارش باز مشتری هنوز پرداخت نشده</span>
                                            }
                                            @if (item.IsPaid && !item.IsCanceled && !item.IsRevievedByUser && !item.IsDelivered && !item.IsDelivered && !item.orderItems.Any(x => x.TransitionId != 0))
                                            {
                                                <span class="badge light badge-info"> پرداخت شده و باید ارسال شود</span>
                                            }
                                            @if (item.IsPaid && !item.IsCanceled && !item.IsRevievedByUser && !item.IsDelivered && !item.IsDelivered && item.orderItems.Any(x => x.TransitionId != 0))
                                            {
                                                <span class="badge light badge-warning"> ارسال شده</span>
                                            }
                                            @if (item.IsPaid && !item.IsCanceled && item.IsRevievedByUser && item.IsDelivered)
                                            {
                                                <span class="badge light badge-success"> دریافت شده توسط مشتری</span>
                                            }
                                            @if (item.IsCanceled)
                                            {
                                                <span class="badge light badge-danger">کنسل شده</span>
                                            }
                                            @*<span class="badge light badge-danger"> وضعیت مشخص نیست</span>*@
                                        </td>
                                        <td>
                                            <a href="#showModal=/SellerPanel/UserOrderItemsManagement/@item.Id" class="btn btn-primary">مشاهده جزئیات</a>
                                            <a href="#showModal=/SellerPanel/DisplayUserAddressToSendProduct/@item.Id" class="btn btn-info">آدرس</a>
                                            <a href="/SellerPanel/CancelOrder" class="btn btn-danger"> کنسل کردن</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<!-- Datatable -->
<script src="/MainTheme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/MainTheme/js/plugins-init/datatables.init.js"></script>
}