@model List<ShopManagement.Application.Contract.SellerPanel.SellerPanelViewModel>
@{
    ViewData["Title"] = "لیست درخواست های ایجاد پنل فروشنده";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrator">پنل مدیریت </a></li>
            <li class="breadcrumb-item active"><a href=""> مدیریت درخواست های ایجاد پنل فروشنده </a></li>
        </ol>
    </div>
</div>
@if (ViewData["message"] != null)
{
    <div class="col-xl-12 col-xxl-12">
        <div class="card-body">
            <div class="alert alert-success solid alert-dismissible fade show">
                <strong>موفق بود!</strong> @ViewData["message"]
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-rounded btn-info" onclick="window.location.href ='#showmodal=/administrator/Mysetting/_RoleCreate'">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>افزودن
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th>عنوان فروشکاه(شرکت)</th>
                                <th>اسم درخواست کننده</th>
                                <th>وضعیت فروشنده</th>
                                <th>تایید توسط ادمین</th>
                                <th>استان</th>
                                <th>شهر</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.StoreName))
                                        {
                                            @item.StoreName
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.CompanyName))
                                        {
                                            @item.CompanyName
                                        }
                                    </td>
                                    <td>@item.SellerFullName</td>
                                    <td>
                                        @if (item.Islegal)
                                        {
                                            <span class="badge badge-primary light">حقوقی </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-primary light">حقیقی </span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsConfirmByAdmin)
                                        {
                                            <span class="badge badge-success">تایید توسط ادمین</span>
                                        }
                                        else
                                        {
                                            <span class="badge light badge-warning">نیاز به بررسی</span>

                                        }
                                    </td>
                                    <td>
                                        @if (item.IsSpecial)
                                        {
                                            <span class="badge badge-info">فروشنده خاص</span>
                                        }
                                        else
                                        {
                                            <span class="badge light badge-info">فروشنده عادی</span>

                                        }
                                    </td>

                                    <td>@item.Capital</td>
                                    <td>@item.City</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="#showmodal=/administrator/SellerPanelRequest/ShowMoreInfo/@item.Id" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            <a href="/administrator/SellerPanelRequest/SelectAsSpecial/@item.Id" class="btn btn-success shadow btn-xs sharp mr-1"><i class="fa fa-star"></i></a>
                                            <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
