@model List<RepairWorkShopManagement.Application.Contracts.SystemService.SystemServiceViewModel>
<form method="post" asp-action="/RepairManPanel/AddServiceToRepairManPanel">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">لیست  سرویس های سازمان</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                            <input type="checkbox" class="custom-control-input" id="checkAll" required="">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>عنوان سرویس</th>
                                    <th> برند </th>
                                    <th> مدل </th>
                                    <th> نوع </th>
                                    <th> نحوه استفاده</th>

                                </tr>
                            </thead>
                            <tbody class="SystemServicesTable">

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                                <input type="checkbox" class="custom-control-input" id="customCheckBox2" required="">
                                                <label class="custom-control-label" for="customCheckBox2"></label>
                                            </div>
                                        </td>
                                        <td>@item.SystemServiceEngTitle</td>
                                        <td>@item.BrandEngTitle</td>
                                        <td>@item.ModelEngTitle</td>
                                        <td>@item.TypeEngTitle</td>
                                        <td>@item.UsageTypeEngTitle</td>
                                    </tr>

                                }



                            </tbody>
                        </table>

                    </div>
                </div>
                <button class="btn btn-outline-success" type="submit">
                    افزودن
                </button>
            </div>
        </div>
    </div>

</form>
