@model List<RepairWorkShopManagement.Application.Contracts.SystemService.SystemServiceViewModel>
@using ShopManagement.Application.Contract.ProductCategory.ProductBrand;
@using ShopManagement.Application.Contract.ProductCategory.ProductModel;
@using ShopManagement.Application.Contract.ProductCategory.ProductType;
@using ShopManagement.Application.Contract.ProductCategory.ProductUsageType;

@inject IProductTypeApplication _productTypeApplication
@inject IProductBrandApplication _productBrandApplication
@inject IProductModelApplication _productModelApplication
@inject IProductUsageTypeApplication _productUsageTypeApplication

@{
    ViewData["Title"] = "افزودن سرویس جدید";
    ViewData["ProductTypes"] = new SelectList(_productTypeApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductBrands"] = new SelectList(_productBrandApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductModels"] = new SelectList(_productModelApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductUsageTypes"] = new SelectList(_productUsageTypeApplication.GetList(), "Id", "EngTitle");
}




@section header{
<!-- Custom Stylesheet -->
<link href="/MainTheme/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="/MainTheme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/MainTheme/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>
                سلام، خوش آمدید
            </h4>
            <p class="mb-0">پنل تعمیرات</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">پنل ها </a></li>
            <li class="breadcrumb-item "><a href="javascript:void(0)">پنل تعمیرات </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">افزودن سرویس</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">جست جو بر اساس</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="form-row">

                        <div class="form-group col-md-3">
                            <label>برند </label>
                            <select class="form-control" onchange="filterModel()" asp-items="@ViewData["ProductBrands"] as SelectList">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="form-group models col-md-3">
                            <label>مدل </label>
                            <select class="form-control" asp-items="@ViewData["ProductModels"] as SelectList">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>نوع </label>
                            <select class="form-control" asp-items="@ViewData["ProductTypes"] as SelectList">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>نحوه استفاده </label>
                            <select class="form-control" asp-items="@ViewData["ProductUsageTypes"] as SelectList">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ListOfSystemService" model="@Model" />



@section Scripts{

<!--Datatable JavaScript-->
<script src="/MainTheme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/MainTheme/js/plugins-init/datatables.init.js"></script>
    }




