@model List<RepairWorkShopManagement.Application.Contracts.RepairManService.RepairManServiceViewModel>
@{
    ViewData["Title"] = "پنل تعمیرات";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">پنل تعمیرات</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">پنل ها </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">پنل تعمیرات </a></li>
        </ol>
    </div>
</div>

@if (ViewData["message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
        <strong>اطلاعات!</strong>
        @ViewData["message"];
    </div>
}

<div clas="row">
    <center>
        <a href="/RepairManPanel/AddServiceToRepairManPanel" class="btn btn-square btn-outline-primary" style="width:80%">افزودن سرویس جدید</a>
    </center>
</div>
<br />


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست سرویس های پنل شما</h4>
            </div>
            <div class="card-body" id="SystemServices">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                @* <th style="width:50px;">
                                    انتخاب
                                    </th>*@
                                <th>عنوان سرویس</th>
                                <th> برند </th>
                                <th> مدل </th>
                                <th> نوع </th>
                                <th> نحوه استفاده</th>
                                <th> قیمت </th>
                                <th> تاریخ ایجاد </th>
                                <th> عملیات </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    @*  <td>
                                        <input type="checkbox" class="form-check" value="@item.Id" name="ServiceIds">
                                        </td>*@
                                    <td>@item.SystemServiceTitle</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Model</td>
                                    <td>@item.Type</td>
                                    <td>@item.UsageType</td>
                                    <td>@item.Price</td>
                                    <td>@item.CreationDate</td>
                                    <td>
                                        <a class="btn btn-outline-warning" href="/RepairManPanel/EditRepairManService/@item.Id">
                                            ویرایش
                                        </a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
