@model RepairWorkShopManagement.Application.Contracts.UserImapairmentReport.CreateUserImpairmentReport
@using ShopManagement.Application.Contract.ProductCategory.ProductBrand;
@using ShopManagement.Application.Contract.ProductCategory.ProductModel;
@using ShopManagement.Application.Contract.ProductCategory.ProductType;
@using ShopManagement.Application.Contract.ProductCategory.ProductUsageType;
@using RepairWorkShopManagement.Application.Contracts.SystemService;


@inject IProductTypeApplication _productTypeApplication
@inject IProductBrandApplication _productBrandApplication
@inject IProductModelApplication _productModelApplication
@inject IProductUsageTypeApplication _productUsageTypeApplication

@inject ISystemServiceApplication _systemServiceApplication



@{
    ViewData["Title"] = "ثبت خرابی جدید";
    ViewData["SystemServices"] = _systemServiceApplication.GetList();
    var systemServices = ViewData["SystemServices"] as List<SystemServiceViewModel>;

    ViewData["ProductTypes"] = new SelectList(_productTypeApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductBrands"] = new SelectList(_productBrandApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductModels"] = new SelectList(_productModelApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductUsageTypes"] = new SelectList(_productUsageTypeApplication.GetList(), "Id", "EngTitle");
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">ثبت خرابی جدید</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"> اعلام خرابی </a></li>
            <li class="breadcrumb-item"><a href="/MainShop/index">ثبت خرابی جدید </a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اعلام خرابی</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" action="/ImpairmentReport/ReportNewImpairment">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label>عنوان دستگاه</label>
                                <input type="text" class="form-control" asp-for="UserDeviceTitle" placeholder="با زدن دکمه رو به رو، میتوانید دسگاه مورد نظر خود را انتخاب کنید" readonly>
                                <span class="text-danger" asp-validation-for="UserDeviceTitle"></span>
                            </div>
                            <input type="hidden" asp-for="UserDeviceId" />
                            <div class="form-group col-md-4">
                                <label>.</label>
                                <a class=" btn btn-square btn-outline-secondary" href="#showModal=/ImpairmentReport/ShowUserDevice" style="width:100%">انتخاب دستگاه</a>
                            </div>

                            <!--SystemServices-->
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">جست جو بر اساس</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="basic-form">
                                                <div class="form-row">

                                                    <div class="form-group col-md-3">
                                                        <label>برند </label>
                                                        <select class="form-control" id="Brand" asp-items="@ViewData["ProductBrands"] as SelectList" onchange="FilterSystemServices()">
                                                            <option value="0">انتخاب کنید</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group models col-md-3">
                                                        <label>مدل </label>
                                                        <select class="form-control" id="Model" asp-items="@ViewData["ProductModels"] as SelectList" onchange="FilterSystemServices()">
                                                            <option value="0">انتخاب کنید</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>نوع </label>
                                                        <select class="form-control" id="Type" asp-items="@ViewData["ProductTypes"] as SelectList" onchange="FilterSystemServices()">
                                                            <option value="0">انتخاب کنید</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>نحوه استفاده </label>
                                                        <select class="form-control" id="UsageType" asp-items="@ViewData["ProductUsageTypes"] as SelectList" onchange="FilterSystemServices()">
                                                            <option value="0">انتخاب کنید</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">لیست سرویس های سازمان جهت همکاری</h4>
                                    </div>
                                    <div class="card-body" id="SystemServices">
                                        <div class="table-responsive">
                                            <table class="table table-responsive-md">
                                                <thead>
                                                    <tr>
                                                        <th style="width:50px;">
                                                            انتخاب
                                                        </th>
                                                        <th>عنوان سرویس</th>
                                                        <th> برند </th>
                                                        <th> مدل </th>
                                                        <th> نوع </th>
                                                        <th>نحوه استفاده</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in systemServices)
                                                    {
                                                        <tr>

                                                            <td>
                                                                <input type="checkbox" class="form-check" value="@item.Id" name="serviceIds">
                                                            </td>
                                                            <td>@item.SystemServiceEngTitle</td>
                                                            <td>@item.BrandEngTitle</td>
                                                            <td>@item.ModelEngTitle</td>
                                                            <td>@item.TypeEngTitle</td>
                                                            <td>@item.UsageTypeEngTitle</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-12" dir="rtl">
                                <label> توضیحات</label>
                                <textarea class="form-control" id="BodyContent" rows="8" asp-for="Description">

                                </textarea>
                                <span class="text-danger" asp-validation-for="Description">
                                </span>
                            </div>

                            <button type="submit" class="btn btn-primary">ثبت گزارش</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function FilterSystemServices(){
          $.ajax({
              url:"/ImpairmentReport/_FilteredSystemServices",
              data:{brandId:$("#Brand").val(),modelId:$("#Model").val(),typeId:$("#Type").val(),usageTypeId:$("#UsageType").val()},
                 beforeSend:function(){
                  $("html").addClass("busy");
              },
              success:function(result){
                     $("#SystemServices").fadeOut(250,function(){
                      $(this).html(result)
                  });
                  $("#SystemServices").fadeIn(500);
                   $("html").removeClass("busy");
              }
          })
      }

</script>